################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiMGIC
/ApiMGIC/bin/Debug/netcoreapp2.1
/ApiMGIC/obj
